<mat-nav-list class="album-list">
  <a *ngFor="let album of albums"
     mat-list-item
     routerLink="fotos"
     fragment="{{album.description}}">{{album.description}}</a>
</mat-nav-list>
<div class="foto-content">
  <button class="foto-album-button left"
          mat-icon-button
          (click)="prev()">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button class="foto-album-button right"
    mat-icon-button
    (click)="next()">
    <mat-icon>arrow_right</mat-icon>
  </button>
</div>
