<div class="foto-content">
  <button class="foto-album-button left"
          mat-icon-button
          (click)="previousFoto($event)">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button class="foto-album-button right"
    mat-icon-button
    (click)="nextFoto(false, $event)">
    <mat-icon>arrow_right</mat-icon>
  </button>
  <div *ngIf="fotoDescription || copyright" class="foto-footer sidenav-menu">
    <span class="description"> {{ fotoDescription }}</span>
<!--    <span *ngIf="copyright" class="copyright"> Foto: {{copyright}}</span>-->
  </div>
</div>
