<a mat-list-item routerLink="anmeldung" fragment="kinderchor" routerLinkActive="link-active">Kinderchor</a>
<a mat-list-item routerLink="anmeldung" fragment="gartenstadtchor" routerLinkActive="link-active">Gartenstadtchor</a>
<a mat-list-item routerLink="anmeldung" fragment="darbietung" routerLinkActive="link-active">Eigene Darbietung</a>
<a mat-list-item routerLink="anmeldung" fragment="mithilfe" routerLinkActive="link-active">Mithelfen</a>
<a mat-list-item routerLink="anmeldung" fragment="mitbringen" routerLinkActive="link-active">kulinarischer Beitrag</a>
