<span>
  Schon bald geht es los! Hier die Details für Samstag 14. Juni 2025.
</span>
<h3>Verpflegung</h3>
<span>Vor Ort gibt es eine Festwirtschaft mit Getränken, Risotto,
Hot Dog, Glacé, Popcorn, Kuchen etc.</span>
<p><a routerLink="/anmeldung" fragment="mitbringen"><strong>Kuchen sind willkommen!</strong></a></p>

<h3>Eintritt</h3>
<span>Um das Musikfest zu finanzieren, verkaufen wir am Fest
Eintrittsetiketten für<br/>CHF 10.-/erwachsene Person</span>
<p>
  Wir nehmen weiterhin gerne Spenden entgegegn:<br/>
  IBAN: CH90 8080 8009 1350 8357 9<br/>
  OK Musikfest Gartenstadt
</p>

<h3>Programm</h3>
<a href="assets/img/2025/Gartenstadtmusikfest-Programm_2025.pdf"
   target="gsmf_ext">
  Hier klicken um das ausführliche Programm herunterzuladen (PDF, 6MB)
</a>
<a href="assets/img/2025/Gartenstadtmusikfest-Programm_2025.pdf"
   target="gsmf_ext"
   matTooltip="Als Pdf herunterladen">
  <img class="programm" src="assets/img/2025/Gartenstadtmusikfest-Plakat_2025.png" alt="Fest-Programm 2025">
</a>
