<div id="mithilfe" [class]="{ 'title-active': (fragment$ | async) === 'mithilfe'}">

  <h3>Mithelfen hinter und vor der Bühne</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/zKZn-gv7r">Anmeldung</a>

    <ul>
      <li>Aufbau</li>
      <li>Abbau</li>
      <li>Technik</li>
      <li>Buffet</li>
      <li>Springer*in</li>
      <li>...</li>
    </ul>
  </div>
</div>

<div id="mitbringen" [class]="{ 'title-active': (fragment$ | async) === 'mitbringen'}">

  <h3>kulinarischer Beitrag</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/qL5E-FdUD">Anmeldung</a>

    <h4>Wir freuen uns über:</h4>
    <ul>
      <li>Kuchen</li>
      <li>Gebäck</li>
      <li>Dessert</li>
    </ul>
  </div>
</div>

<div id="kinderchor" [class]="{ 'title-active': (fragment$ | async) === 'kinderchor'}">

  <h3>Kinderchor</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/N7dC-qyLg">Anmeldung</a>

    <ul>
      <li>Leitung: Christian Schmitt</li>
      <li>Probedaten:
        <ul>
          <li>03. Juni 18.00 -19.00 Unterichtszimmer Thomaskirche</li>
          <li>04. Juni 13.30 - 14.30 kleiner Saal Thomaskirche</li>
          <li>10. Juni 18.00 - 19.00  Unterichtszimmer Thomaskirche</li>
          <li>11. Juni 13.30 - 14.30  kleiner Saal Thomaskirche</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="gartenstadtchor" [class]="{ 'title-active': (fragment$ | async) === 'gartenstadtchor'}">

  <h3>Gartenstadtchor</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/r1Gx-oDAy">Anmeldung</a>

    <ul>
      <li>Teilnahme: für Erwachsene</li>
      <li>Leitung: Hansueli Ryser </li>
      <li>Thema: Mehrstimmige Volkslieder</li>
      <li>Probedaten: (jeweils 19:30 - 21:30 Uhr)
        <ul>
          <li>05. Mai: Aula Buchseeschulhaus</li>
          <li>12. Mai: Saal Thomaskirche</li>
          <li>19. Mai: Saal Thomaskirche</li>
          <li>02. Juni: Saal Thomaskirche</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="darbietung" [class]="{ 'title-active': (fragment$ | async) === 'darbietung'}">

  <h3>eigene Darbietung</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/fGtF-iLqM">Anmeldung</a>

    <h4>Teilnahmebedingungen</h4>
    <ul>
      <li>Gruppengrösse max. 10 Personen</li>
      <li>Dauer der Darbietung max. 20 Minuten</li>
      <li>Mindestens die Hälfte der Auftretenden Gruppe sollte in der Gartenstadt wohnhaft (gewesen) sein oder sonst einen Bezug zum Quartier haben</li>
      <li>Erwünscht sind musikalische Beiträge jeden Niveaus und aus allen Stilrichtungen, aber auch Tanz, Geschichten, Sketches, Zauber- oder Zirkuseinlagen, also einfach alles, was zu einem gelungenen Musikfest passt.</li>
      <li>Bühne, Klavier und Mikrofone stehen zur Verfügung</li>
    </ul>
  </div>
</div>
