<span *ngIf="environment.deadlineReached">
    Für Auftritte ist die Anmeldefrist abgelaufen. Wir nehmen aber gerne noch Anmeldungen für Hilfe und Kulinarisches entgegen!
</span>

<div id="mithilfe" [class]="{ 'title-active': (fragment$ | async) === 'mithilfe'}">

  <h3>Mithelfen hinter und vor der Bühne</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/zKZn-gv7r">Anmeldung</a>

    <ul>
      <li>Aufbau</li>
      <li>Abbau</li>
      <li>Technik</li>
      <li>Buffet</li>
      <li>Springer*in</li>
      <li>...</li>
    </ul>
  </div>
</div>

<div id="mitbringen" [class]="{ 'title-active': (fragment$ | async) === 'mitbringen'}">

  <h3>kulinarischer Beitrag</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/qL5E-FdUD">Anmeldung</a>

    <h4>Wir freuen uns über:</h4>
    <ul>
      <li>Kuchen</li>
      <li>Gebäck</li>
      <li>Dessert</li>
    </ul>
  </div>
</div>

<div *ngIf="!environment.deadlineReached"
     id="kinderchor" [class]="{ 'title-active': (fragment$ | async) === 'kinderchor'}">

  <div app-details-kinderchor></div>
</div>

<div *ngIf="!environment.deadlineReached"
     id="gartenstadtchor" [class]="{ 'title-active': (fragment$ | async) === 'gartenstadtchor'}">

  <div app-details-gartenstadtchor></div>
</div>

<div *ngIf="!environment.deadlineReached"
     id="darbietung" [class]="{ 'title-active': (fragment$ | async) === 'darbietung'}">

  <h3>eigene Darbietung</h3>

  <div class="paragraph">

    <a target="gsmf-anmeldung" href="https://findmind.ch/c/fGtF-iLqM">Anmeldung</a>

    <h4>Teilnahmebedingungen</h4>
    <ul>
      <li>Gruppengrösse max. 10 Personen</li>
      <li>Dauer der Darbietung max. 20 Minuten</li>
      <li>Mindestens die Hälfte der Auftretenden Gruppe sollte in der Gartenstadt wohnhaft (gewesen) sein oder sonst einen Bezug zum Quartier haben</li>
      <li>Erwünscht sind musikalische Beiträge jeden Niveaus und aus allen Stilrichtungen, aber auch Tanz, Geschichten, Sketches, Zauber- oder Zirkuseinlagen, also einfach alles, was zu einem gelungenen Musikfest passt.</li>
      <li>Bühne, Klavier und Mikrofone stehen zur Verfügung</li>
    </ul>
  </div>
</div>
