<div class="content content-sponsoren">
  <h1 class="page-title">Sponsoren</h1>

  <div>Über finanzielle Beiträge zur Deckung der Unkosten des Fests freuen wir uns sehr!</div>
  <div>
    <span>IBAN: CH90 8080 8009 1350 8357 9</span><br/>
    <span>OK Musikfest Gartenstadt</span>
  </div>

  <hr/>

  @if (sponsorenOhneLogo.length > 0 || sponsorenMitLogo.length > 0) {
    <div>Sponsoren vom Musikfest 2023 - herzlichen Dank!</div>
    <ul>
      <li *ngFor="let sponsor of sponsorenOhneLogo">
        <span>{{sponsor.name}}</span>
        <span *ngIf="sponsor.page_url">(<a href="{{sponsor.page_url}}" target="gsmf-ext">Webseite</a>)</span>
      </li>
    </ul>
    <div class="sponsor-logos">
      <div *ngFor="let sponsor of sponsorenMitLogo"
           class="sponsor-logo">
        <a [href]="sponsor.page_url" target="gsmf-ext">
          <img alt="Sponsor {{sponsor.name}}"
               [style]="sponsor.img_style"
               [src]="'assets/sponsoren/' + sponsor.logo_url">
        </a>
      </div>
    </div>
  }
</div>
