<div class="content content-sponsoren">
  <h1 class="page-title">Sponsoren</h1>

  <div>herzlichen Dank an:</div>
  <ul>
    <li>Drogerie Stapfen (<a href="http://www.drogisan.ch/" target="gsmf-ext">Webseite</a>)</li>
    <li>Fuchs Ursula</li>
    <li>Kuhn und Bieri (<a href="https://www.kuhnbieri.ch/de/" target="gsmf-ext">Webseite</a>)</li>
    <li>Pizzeria Babylon (<a href="https://pizza-babylon.ch/" target="gsmf-ext">Webseite</a>)</li>
  </ul>
  <div class="sponsor-logos">
    <div class="sponsor-logo sponsor-vetcetera">
      <a href="https://www.vetcetera.ch/" target="gsmf-ext">
        <img alt="Sponsor VETCETERA Tierarztpraxis" src="assets/img/sponsoren/Logo%20Vetcetera.jpg">
      </a>
    </div>
    <div class="sponsor-logo spsonsor-mobiliar">
      <a href="https://mobiliar.ch/" target="gsmf-ext">
        <img alt="Sponsor die Mobiliar" src="assets/img/sponsoren/Logo%20Mobiliar.png">
      </a>
    </div>
    <div class="sponsor-logo sponsor-kirche">
      <a href="https://www.kg-koeniz.ch/de/meine-kirchgemeinde/kirchenkreise/kirchenkreis-mitte/" target="gsmf-ext">
        <img alt="Sponsor Evangelisch-reformierte Kirchgemeinde Köniz" src="assets/img/sponsoren/Logo%20Kirchgemeinde.jpg">
      </a>
    </div>
  </div>
  <p>
  <div>Über weitere finanzielle Beiträge freuen wis uns sehr!</div>
  <div>IBAN: CH90 8080 8009 1350 8357 9<br>OK Musikfest Gartenstadt</div>
</div>
