<div class="content">
  <h1>Impressum</h1>
  <h2>Verantwortlich für den Inhalt</h2>
  <p>Gartenstadt Musikfest<br/>
    z.H. {{Kontakte.inhaber.name}}<br/>
    {{Kontakte.inhaber.adresse}}<br/>
    {{Kontakte.inhaber.plzOrt}}<br/>
    Schweiz<br/>
    E-Mail: <a href="mailto:{{Kontakte.inhaber.email}}" rel="noopener noreferrer"
               target="_blank">{{Kontakte.inhaber.email}}</a><br/>
    Tel.: {{Kontakte.inhaber.telefon}}</p>

  <h2>Verantwortlich für den Datenschutz</h2>
  <p>{{Kontakte.datenschutz.name}}<br/>
    {{Kontakte.datenschutz.adresse}}<br/>
    {{Kontakte.datenschutz.plzOrt}}<br/>
    Schweiz<br/>
    E-Mail: <a href="mailto:{{Kontakte.datenschutz.email}}" rel="noopener noreferrer" target="_blank">
      {{Kontakte.datenschutz.email}}</a>
  </p>

  <h2>Webmaster</h2>
  <p>{{Kontakte.webmaster.name}}<br/>
    E-Mail: <a href="mailto:{{Kontakte.webmaster.email}}" rel="noopener noreferrer" target="_blank">
      {{Kontakte.webmaster.email}}</a>
  </p>
</div>
