

/* STRUKTUR */
.main-content-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center
}

.main-content {
  flex: 1 1 auto;
  max-width: 840px;
  /*background-color: #dddddd;*/
}

/* 1. Logo (Musik-Wagen) */
.header {
  flex: 0 1;
  overflow: visible;
  text-align: center;
}

.header img {
  width: 100%;
}


/* 2. horizonale Menü-Leiste */
.menu {
  font-size: 20px;
  z-index: 1;
}

.sticky {
  position: sticky; /* Info: https://clubmate.fi/position-sticky-in-css */
  top: 0;
}

.auto-visible.visible {
  position: relative;
  top: 0;
  transition: 1s;
}

.auto-visible.hidden {
  position: relative;
  top: -100px;
  transition: 1s;
}



/* 2.1 */
.horizontal {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row;
}

.menu-list {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0!important;
}


/* 3. Page */
.page-content {
  flex: 1 0 auto;
  z-index: 0;
  background-color: #dddddd;
}

.router-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sidenav-menu {
  height: 0;
  overflow: hidden;
}

.sidenav-menu.open {
  transition: 1s;
  height: 200px;
}

/* SICHTBARKEITS-STEUERUNG */

/*bei grossen Bildschirmen ausblenden: */
@media (min-width: 640px){

  /* ..."Hamburger"-Button */
  .sidenav-toggle-button {
    display: none;
  }

  /* ...vertikale Seiten-Menü-Leiste */
  .sidenav-menu {
    display: none;
  }

}

/* horizontale Menü-Leiste ausblenden bei kleinen Bildschirmen */
@media (max-width: 639px){
  .menu-list {
    display: none;
  }
}

/* footer */
.footer {
  font-size: 14px;
  text-align: center;
}

.footer span {
  margin-right: 20px;
}
