<div style="display: flex; justify-content: center">
<div class="main-content">
  <div class="header">
    <img src="/assets/Wagen_mit_Text_farbig.png" alt="fahrende Bühne">
  </div>

  <div class="sticky">
    <button
      class="sidenav-toggle-button"
      mat-icon-button
      (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-nav-list class="menu-list">
      <app-main-menu class="horizontal"></app-main-menu>
    </mat-nav-list>
    <mat-nav-list class="menu-list" *ngIf="(currentUrl | async)?.includes('anmeldung')">
      <app-anmelden-menu class="horizontal"></app-anmelden-menu>
    </mat-nav-list>
<!--      <app-menu [menuItems]="mainMenu" class="main-menu-list"></app-menu>-->
  </div>

  <mat-sidenav-container class="page-content">
    <mat-sidenav #sidenav class="sidenav-menu">
      <mat-nav-list>
        <app-main-menu class="vertical"></app-main-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="router-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
</div>
