<div class="main-content">
  <div class="header">
    <a routerLink="home">
      <img src="/assets/Wagen_mit_Text.png" alt="fahrende Bühne">
    </a>
  </div>

  <div class="toolbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="main-menu-row">
        <button
          class="sidenav-toggle-button"
          mat-icon-button
          (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="main-menu-list">
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a routerLink="anmeldung" mat-button>Anmeldung</a>
          <a href="#" mat-button>Menu Item 2</a>
          <a href="#" mat-button>Menu Item 3</a>
          <a href="#" mat-button>Menu Item 4</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="page-content">
    <mat-sidenav #sidenav class="sidenav-menu">
      <mat-nav-list class="sidenav-menu-list">
        <a href="#" mat-list-item>Menu Item 1</a>
        <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="router-wrapper">
        <router-outlet class="content"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
