.main-content {
  display: flex;
  flex-flow: column;
}

/* 1. HEADER */
.header {
  flex: 0 1 100px;
  overflow: visible;
  text-align: center;
}

.header img {
  width: 100%;
  max-width: 600px;
  position: relative;
}


/* 2. TOOLBAR */
.toolbar {
  flex: 0 1 50px;
  font-size: 20px;
  position: sticky; /* Info: https://clubmate.fi/position-sticky-in-css */
  top: 0;
}

.main-menu-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 600px){
  .sidenav-toggle-button {
    display: none;
  }
}

.main-menu-list {
  flex: 1 0;
  text-align: center;
}

@media (max-width: 599px){
  .main-menu-list {
    display: none;
  }
}

.main-menu a {
  margin-left: 20px;
  margin-right: 20px;
}

/* 3. PAGE */
.page-content {
  flex: 1 0;
}

.sidenav-menu {
  background-color: lightgray;
}

.router-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.content {
  flex: 1 0;
  max-width: 500px;
}
