<div class="main-content bg-home">
  <div class="header">
    <a routerLink="home">
      <img src="/assets/Wagen_ohne_Text_farbig.jpg" alt="fahrende Bühne">
    </a>
  </div>

  <div class="toolbar">
    <mat-toolbar color="primary">
      <button
        class="sidenav-toggle-button"
        mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="horizontal-spacer"></span>
      <mat-nav-list class="main-menu-list">
        <app-main-menu class="horizontal"></app-main-menu>
      </mat-nav-list>
      <span class="horizontal-spacer"></span>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="page-content">
    <mat-sidenav #sidenav class="sidenav-menu">
      <mat-nav-list>
        <app-main-menu class="vertical"></app-main-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="router-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
