<div class="content">
  <h1>Anmeldung</h1>

  <div id="kinderchor" [class]="{ 'title-active': (fragment$ | async) === 'kinderchor'}">
    <h3>Kinderchor</h3>
    <div class="paragraph">
      <a target="gsmf-anmeldung" href="https://findmind.ch/c/snf4-sQ9F/finish">Anmeldung</a>
      <span> (www.findmind.ch)</span>

      <ul>
        <li>Leitung: Jacqueline Bernard</li>
        <li>Thema: Lieder der Badwannepirate (www.badwannepirate.ch und auf Spotify)</li>
        <li>Probedaten: Mi 31. Mai./ Do 8. Juni./ Mi 14.Juni, jeweils 18.30 - 20.00 Uhr</li>
        <li>Thomaskirche </li>
      </ul>
    </div>
  </div>

  <div id="gartenstadtchor" [class]="{ 'title-active': (fragment$ | async) === 'gartenstadtchor'}">
    <h3>Gartenstadtchor</h3>
    <div class="paragraph">
      <a target="gsmf-anmeldung" href="https://findmind.ch/c/snf4-sQ9F/finish">Anmeldung</a>
      <span> (www.findmind.ch)</span>

      <ul>
        <li>Leitung: Hansueli Ryser </li>
        <li>Thema: Mehrstimmige Volkslieder</li>
        <li>Probedaten: Jeweils Montag 15. und 22. Mai sowie 5. und 12. Juni 19.30 - 21.30 Uhr</li>
        <li>im kleinen Saal Thomaskirche</li>
      </ul>
    </div>
  </div>

  <div id="darbietung" [class]="{ 'title-active': (fragment$ | async) === 'darbietung'}">
    <h3>eigene Darbietung</h3>
    <div class="paragraph">

      <a target="gsmf-anmeldung" href="https://findmind.ch/c/snf4-sQ9F/finish">Anmeldung</a>
      <span> (www.findmind.ch)</span>

      <h4>Teilnahmebedingungen</h4>
      <ul>
        <li>Gruppengrösse max. 10 Personen</li>
        <li>Dauer der Darbietung max. 20 Minuten</li>
        <li>Mindestens die Hälfte der Auftretenden Gruppe sollte in der Gartenstadt wohnhaft (gewesen) sein oder sonst einen Bezug zum Quartier haben</li>
        <li>Erwünscht sind musikalische Beiträge jeden Niveaus und aus allen Stilrichtungen, aber auch Tanz, Geschichten, Sketches, Zauber- oder Zirkuseinlagen, also einfach alles, was zu einem gelungenen Musikfest passt.</li>
        <li>Bühne, Klavier und Mikrofone stehen zur Verfügung</li>
        <li>In Absprache kann eine Klavierbegleitung organisiert werden</li>
      </ul>
    </div>
  </div>

  <div id="mithilfe" [class]="{ 'title-active': (fragment$ | async) === 'mithilfe'}">
    <h3>Mithilfe</h3>
    <div class="paragraph">
      <ul>
        <li>Aufbau</li>
        <li>Abbau</li>
        <li>Technik</li>
        <li>Buffet</li>
        <li>Springer</li>
        <li>...</li>
      </ul>
    </div>
  </div>

  <div id="sponsor" [class]="{ 'title-active': (fragment$ | async) === 'sponsor'}">
    <h3>Sponsoren</h3>

    <div class="paragraph">
      ...
    </div>

  </div>


</div>
