<div class="content">
  <h1>Anmeldung</h1>


  <div>
    <span>Unter diesem Link gelangst Du zum Anmeldeformular: </span><br>
    <a target="gsmf-anmeldung" href="https://findmind.ch/c/snf4-sQ9F/finish">Formular</a>
    <span> (www.findmind.ch)</span>
  </div>
  <div>
    <h3>Teilnahmebedingungen</h3>

      <ul>
        <li>Gruppengrösse max. 10 Personen</li>
        <li>Dauer der Darbietung max. 20 Minuten</li>
        <li>Mindestens die Hälfte der Auftretenden Gruppe sollte in der Gartenstadt wohnhaft (gewesen) sein oder sonst einen Bezug zum Quartier haben</li>
        <li>Erwünscht sind musikalische Beiträge jeden Niveaus und aus allen Stilrichtungen, aber auch Tanz, Geschichten, Sketches, Zauber- oder Zirkuseinlagen, also einfach alles, was zu einem gelungenen Musikfest passt.</li>
        <li>Bühne, Klavier und Mikrofone stehen zur Verfügung</li>
        <li>In Absprache kann eine Klavierbegleitung organisiert werden</li>
      </ul>

  </div>
</div>
