<div class="content">
  <p>
  Es ist wieder soweit: am 17. Juni findet das nächste Musikfest im Quartier statt!
  Die Kreuzung Gartenstadtstrasse/ Neuhausweg soll nach den schönen Erfahrungen der vergangenen Musikfeste wiederum zur
  Kulturbühne werden. Kinder, Jugendliche und Erwachsene, die gerne etwas vortragen möchten, sind ganz herzlich zum
  Mitmachen eingeladen.
  </p>
  <p>
  Wer mitmachen möchte, hat ganz verschiedene Varianten zur Auswahl:
    <ul>
      <li><a routerLink="/anmeldung" fragment="kinderchor">mitsingen im Chinder- oder Gartenstadtchor</a></li>
      <li><a routerLink="/anmeldung" fragment="darbietung">eigene Darbietung</a></li>
      <li><a routerLink="/anmeldung" fragment="mithilfe">mithelfen hinter und vor der Bühne</a></li>
      <li>kulinarischer oder finanzieller Beitrag</li>
    </ul>


</div>
