<p>
  Es ist wieder soweit: am 17. Juni 2023 findet das nächste Musikfest im Quartier statt!
  Die Kreuzung Gartenstadtstrasse / Neuhausweg wird nach den schönen Erfahrungen der vergangenen Musikfeste wiederum zur
  Kulturbühne. Kinder, Jugendliche und Erwachsene, die gerne etwas vortragen möchten, sind ganz herzlich zum
  Mitmachen eingeladen:
<ul>
  <li>mitsingen im <a routerLink="/anmeldung" fragment="kinderchor">Kinder-</a> oder <a routerLink="/anmeldung" fragment="gartenstadtchor">Gartenstadtchor</a></li>
  <li><a routerLink="/anmeldung" fragment="darbietung">eigene Darbietung</a></li>
  <li><a routerLink="/anmeldung" fragment="mithilfe">mithelfen hinter und vor der Bühne</a></li>
  <li><a routerLink="/anmeldung" fragment="mitbringen">kulinarischer</a> oder <a routerLink="/sponsoren" fragment="sponsor">finanzieller Beitrag</a></li>
</ul>
<span><strong>Anmeldung bis 12. April!</strong></span>
