<p>Das Gartenstadt-Musikfest 2023 ist Geschichte! Bei wunderschönem Wetter durften wir ein tolles
  Fest feiern mit einem 5-stündigen Musikprogramm aus allen Sparten, dargeboten von Quartierbewohner*innen
  zwischen 6 und 77 Jahren!</p>

<a href="assets/img/2023/Gartenstadmsikfest-Programm_17.6.2023.pdf"
   target="gsmf_ext"
   matTooltip="Als Pdf herunterladen">
  Programm 2023
</a>

<p>Herzlichen Dank allen Beteiligten:</p>
<ul>
  <li>Allen, die gesungen und gespielt haben</li>
  <li>Jacqueline Bernard und Hansueli Ryser für die Chorleitung</li>
  <li>Anita Horowitz für die Tanzanleitung</li>
  <li>Den Ansager*innen Olivia Ebinger und Stephan Kessler</li>
  <li>Markus Noser für die hervorragende Musiktechnik</li>
  <li>Allen Helfer*innen bei Auf- und Abbau</li>
  <li>Allen Helfer*innen an den Ständen und den Risottoköchen</li>
  <li>Allen Spender*innen von Gebäck</li>
  <li>Allen OK Mitgliedern für die Planung, Vor- und Nachbereitung</li>
  <li>Heinz Bigler für die Fotos</li>
  <li>Allen <a routerLink="/sponsoren">Sponsoren</a></li>
  <li>Allen Zuhörer*innen</li>
  <li>Christian Spiller für die Erstellung der Homepage</li>
  <li>Familie Saxer für das Gastrecht</li>
</ul>

<strong>In 2 oder 3 Jahren gibt es wieder ein Musikfest!</strong>
