<p>Bei wunderschönem Wetter durften wir ein tolles
  Fest feiern mit einem 6-stündigen Musikprogramm aus allen Sparten, dargeboten von Quartierbewohner*innen
  zwischen 5 und 80 Jahren!</p>

<strong>In 2 Jahren gibt es wieder ein Musikfest!</strong>

<h2>Herzlichen Dank allen Beteiligten:</h2>
<ul>
  <li>Allen, die gesungen und gespielt haben</li>
  <li>Hansueli Ryser für die Chor-Leitung</li>
  <li>Christian Schmitt für die Kinderchhor-Leitung</li>
  <li>Anita und Mike Horowitz für die Tanzanleitung</li>
  <li>Den Moderatorinnen Andrea Abbühl und Sarah Leonor Müller</li>
  <li>Markus Noser für die hervorragende Musiktechnik</li>
  <li>Allen Helfer*innen bei Auf- und Abbau</li>
  <li>Allen Helfer*innen an den Ständen und den Risottoköchen</li>
  <li>Allen Spender*innen von Gebäck</li>
  <li>Allen OK Mitgliedern für die Planung, Vor- und Nachbereitung</li>
  <li>Heinz Bigler für die Fotos</li>
  <li>Allen <a routerLink="/sponsoren">Sponsoren</a></li>
  <li>Allen Zuhörer*innen</li>
  <li>Christian Spiller für die Erstellung der Homepage</li>
  <li>Familie Saxer für das Gastrecht</li>
</ul>

<h3>Das OK:</h3>
<app-das-ok></app-das-ok>

<h3>Das Programm vom Musikfest 2025</h3>
<a href="assets/img/2025/Gartenstadtmusikfest-Programm_2025.pdf"
   target="gsmf_ext"
   matTooltip="Als Pdf herunterladen">
  <img class="programm" src="assets/img/2025/Gartenstadtmusikfest-Plakat_2025.png" alt="Fest-Programm 2025">
</a>
