<h3>Gartenstadtchor</h3>

<div class="paragraph">

  <a *ngIf="showLink()" target="gsmf-anmeldung" href="https://findmind.ch/c/r1Gx-oDAy">Anmeldung</a>

  <ul>
    <li>Teilnahme: für Erwachsene</li>
    <li>Leitung: Hansueli Ryser </li>
    <li>Thema: Mehrstimmige Volkslieder</li>
    <li>Probedaten: (jeweils 19:30 - 21:30 Uhr)
      <ul>
        <li>05. Mai: Aula Buchseeschulhaus</li>
        <li>12. Mai: Saal Thomaskirche</li>
        <li>19. Mai: Saal Thomaskirche</li>
        <li>02. Juni: Saal Thomaskirche</li>
      </ul>
    </li>
  </ul>
</div>
