/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'gsmf-font';
  src: url('/assets/gill-sans-mt.ttf');
}

body {
  margin: 0;
  font-family: 'gsmf-font', sans-serif;
  font-size: 20px;
}

html, body { height: 100%; }


.content {
  padding: 20px;
  background-color: #eeeeee;
}

app-main-menu  {
  background-color: #dddddd;
  font-size: 22px;
}

app-anmelden-menu {
  font-size: 20px;
}

.sidenav-menu {
  background-color: lightgray;
}

a {
  color: #9F2A32!important;
}

a:visited {
  color: #9F2A32!important;
}

a:hover {
  color: #dddddd!important;
  background-color: #9F2A32!important;
}

a.link-active {
  color: #dddddd!important;
  background-color: #9F2A32!important;
}

.title-active h3 {
  background-color: #9F2A32;
  color: #dddddd!important;
  padding-left: 5px;
}

.title-active {
  background-color: #EFAEAA;
}

.paragraph {
  padding-left: 15px;
  padding-bottom: 20px;
}

.paragraph ul {
  padding-left: 12px;
}

.bg-home {
  background-image: url("assets/img/bg_home.jpg");
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.fill-content {
  width: 100%;
}
