/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'gsmf-font';
  src: url('/assets/gill-sans-mt.ttf');
}

body {
  margin: 0;
  font-family: 'gsmf-font', sans-serif;
}

html, body { height: 100%; }

