<h3>Kinderchor</h3>

<div class="paragraph">

  <a *ngIf="showLink()" target="gsmf-anmeldung" href="https://findmind.ch/c/N7dC-qyLg">Anmeldung</a>

  <ul>
    <li>Leitung: Christian Schmitt</li>
    <li>Probedaten:
      <ul>
        <li>03. Juni 18.00 -19.00 Unterichtszimmer Thomaskirche</li>
        <li>04. Juni 13.30 - 14.30 kleiner Saal Thomaskirche</li>
        <li>10. Juni 18.00 - 19.00  Unterichtszimmer Thomaskirche</li>
        <li>11. Juni 13.30 - 14.30  kleiner Saal Thomaskirche</li>
      </ul>
    </li>
  </ul>
</div>
